    * {
        box-sizing: border-box;
    }
    /*font*/
    
    * {
        font-family: inter;
    }
    
    @font-face {
        font-family: inter, sans-serif;
        src: url(E:\inter);
    }
    /*heading*/
    
    .brand-header {
        display: flex;
        background-color: rgb(14, 14, 145);
        color: white;
        justify-content: space-between;
        padding: 10px;
        width: 100%;
        flex-direction: row;
    }
    
    .logo {
        width: 20%;
    }
    
    .placeholder {
        background-color: rgb(17, 17, 167);
        width: 90%;
        padding: 6px;
        color: white;
        border-width: 0;
    }
    
     ::placeholder {
        color: white;
    }
    
    .search {
        width: 50%;
    }
    
    .text {
        width: 8%
    }
    
    img {
        border-radius: 100%;
    }
    
    .profile {
        display: flex;
        align-items: stretch;
    }
    /*profile section*/
    
    .row {
        display: flex;
        flex: row;
    }
    
    .details {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    
    .name {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: center;
        align-items: center;
    }
    
    .screen-button {
        display: flex;
        justify-content: center;
        justify-content: space-between;
        flex-direction: column;
        justify-items: center;
        border-radius: 5px;
        margin: 4px;
        padding: 10px;
    }
    
    .screen-button:first-child {
        background-color: blue;
        color: white;
        border-radius: 10px;
        line-height: 20px;
        align-items: center;
    }
    
    .screen-button:first-child:hover {
        color: blue 500;
        border-radius: 10px;
    }
    
    .screen-button:last-child {
        font: medium;
        background-color: white;
        color: black;
        justify-items: center;
        align-items: center;
    }
    
    .screen-button:last-child:hover {
        color: gray;
    }
    
    .badge {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        color: gray;
        padding: 10px;
    }
    
    .badge1 {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 10px;
    }
    
    .badge2 {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 10px;
    }
    
    .Workcation {
        background-color: white;
        color: gray;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-top: gray 200;
        flex-direction: row;
        border-bottom: 1px solid gray;
        padding: 10px;
    }
    
    .combine {
        flex: 1px
    }
    
    .together {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    
    .t-name {
        display: flex;
        align-items: center;
    }
    
    .time {
        color: gray 500;
        flex-direction: row-reverse;
    }
    
    .statement {
        font-size: small;
        color: gray 500;
        align-items: center;
        display: flex;
    }
    
    .another-one {
        height: 1px;
    }
    
    .activity-item {
        background-color: whitesmoke;
        color: black;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-top: gray 200;
        border-bottom: 1px solid gray;
    }
    /*.body {
        display: flex;
        height: 100%;
        width: 100%;
        padding: 0;
        margin: 0;
    }*/
    
    body {
        margin: 0;
    }
    
    .brand {
        font-weight: normal;
        font-size: 60px;
        text-align: center;
    }
    
    .story {
        border-right: 1px solid gray;
    }
    
    .quarter {
        width: 20%;
    }
    
    .half {
        width: 53%;
    }
    
    .story-quarter {
        background-color: whitesmoke;
        width: 28%;
    }
    
    .other-sections {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        justify-content: center;
        width: 100%;
    }
    
    .overview {
        justify-content: space-between;
        align-items: center;
    }
    
    .projects {
        background-color: white;
        color: black;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-top: gray 200;
        border-bottom: 1px solid grey;
        padding: 10px;
    }
    
    .hed {
        font-weight: bold;
    }
    
    .hedi {
        display: flex;
        align-items: center;
        color: black;
    }
    
    .another {
        background-color: white;
        color: gray;
    }
    
    .debbie {
        display: flex;
        color: gray;
        align-items: center;
        flex-direction: column;
        justify-items: self-end;
        flex-wrap: wrap;
    }
    
    .site {
        display: flex;
        flex: end;
        flex-direction: row-reverse;
    }